:root {
 --bg: snow;
 --txt: black;
 --link: black;
 --hdrfont: 'Julius Sans One', sans-serif;
 --bodyfont: 'Fira Sans', sans-serif;
 --hfont: 'Raleway', sans-serif;
 --capfont: 'Montserrat Alternates', sans-serif;
 scroll-behavior: smooth;
}

body {
 font-family: var(--bodyfont);
 background-color: var(--bg);
 color: var(--txt);
 margin: 0;
}

.page_content, .site_footer {
 margin: 2em 8px;
}

.site_footer {
 margin-top: 5em;
}

a {
 color: var(--link);
}

a:hover {
 text-decoration-thickness: 0.2em;
}

.site_header a, .site_footer a {
 text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
 font-family: var(--hfont);
 font-weight: normal;
}

h1 {
 text-align: center;
}

img {
 max-width: 100%;
 height: auto;
 vertical-align: bottom;
}

.ca {
 text-align: center;
}

.site_header {
 font-family: var(--hdrfont);
 font-size: 110%;
}

.letterhead {
 display: flex;
 flex-flow: row wrap;
 justify-content: center;
 align-items: center;
 gap: 0.75em 10vw;
 padding: 0.5em 0;
}

.site_name {
 text-align: center;
}

.site_menu {
 text-align: center;
}

.site_menu > ol {
 list-style-type: none;
 padding: 0;
 margin: 0;
 display: flex;
 flex-flow: row wrap;
 justify-content: center;
 align-items: center;
 gap: 1em 5vw;
}

.site_name > a, .site_menu > ol > li > a {
 display: inline-block;
 padding: 0.25em 0.5em;
}

.banner {
 min-height: 80vh;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;

 /* Version of background-image that does NOT use the new, partly supported (-webkit-)image-set()
       Uncomment this & comment out the newer version if needed. Also make same change in HTML files 
       for the page specific banners */
 /*background-image: linear-gradient(to top, var(--bg) 0%, transparent 5%), 
    linear-gradient(to bottom, var(--bg) 0%, transparent 3%), url(/images/banner.jpg);*/

 /* Not yet using image-set() because it doesn't work wit var() values inside it, in Chrome.
    Until Chrome umprefixes -webkit-image-set(), keep using it across all browsers since all of them 
    support the prefixed version.*/
 background-image: linear-gradient(to top, var(--bg) 0%, transparent 5%),
  linear-gradient(to bottom, var(--bg) 0%, transparent 3%),
  -webkit-image-set(url(/images/banner1x.jpg) 1x, url(/images/banner2x.jpg) 2x, url(/images/banner3x.jpg) 3x);
}

.imggrid {
 text-align: center;
 display: flex;
 flex-flow: row wrap;
 justify-content: space-evenly;
 align-items: flex-end;
 gap: 2em 1em;
 margin: 4em 0;
}

.imglink {
 text-decoration: none;
}

.imglink:hover, .imglink:focus {
 box-shadow: 2px 2px 15px 2px grey;
}

.fig {
 margin: 0;
}

.pict {
 display: inline-block;
}

.image_port, .image_land {
 object-fit: scale-down;
}

@media (orientation: portrait) {
 .image_port, .figcap {
  max-width: 80vw;
 }

 .image_land, .figcap {
  max-width: 90vw;
 }
}

@media (orientation: landscape) {
 .image_port, .figcap {
  max-width: 30vw;
 }

 .image_land, .figcap {
  max-width: 45vw;
 }
}

.figcap {
 font-family: var(--capfont);
 font-size: 1.1em;
 display: flex;
 flex-flow: column nowrap;
 justify-content: flex-start;
 align-items: center;
 gap: 0.5em;
 padding: 1em 0;
}

.cap_engname {
 font-weight: 500;
}

.cap_latname {
 font-style: italic;
}

.see_all {
 font-size: 1.5em;
 text-align: center;
}

.see_all > a {
 display: inline-block;
 padding: 0.25em 10vw;
 border: 1px solid;
 border-radius: 2%;
 text-decoration: none;
}

.see_all > a:hover, .see_all > a:focus {
 box-shadow: 2px 2px 15px 2px grey;
}

.social > ul {
 list-style-type: none;
 padding: 0;
 display: flex;
 flex-flow: row wrap;
 justify-content: center;
 align-items: center;
 gap: 1em 5vw;
}

.srchform {
 text-align: center;
 margin: 2em 0;
}

.srchbox, .srch_submit {
 font-family: var(--bodyfont);
 font-size: 1em;
}

@media (prefers-color-scheme: dark) {
 :root {
  --bg: rgb(25, 25, 25);
  --txt: whitesmoke;
  --link: whitesmoke;
 }
}
